/* style.css */

.main {
    background: linear-gradient(to bottom right, #004D40, #000000); /* Dark green to black */
    padding: 20px;
    border-radius: 10px;
    color: white; /* White text */
}

.stApp {
    background-color: #000000; /* Black background */
    color: white; /* White text */
}

/* Customize the app title and subtitle */
.title {
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.subtitle {
    color: #ddd;
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
}

/* Customize headers and tabs */
.st-header {
    color: #ddd;
    padding-bottom: 0.5rem;
}

.stTabs div[role="tablist"] button {
    background-color: #003328; /* Dark green */
    color: #ddd;
}

.stTabs div[role="tablist"] button[aria-selected="true"] {
    background-color: #00664D; /* Darker green for selected tab */
    color: white;
}

/* Customize sidebar */
.st-sidebar {
    background-color: #001A14; /* Darker green */
}
.st-sidebar p{
    color: white; /*White text on sidebar text */
}
.st-sidebar .stButton button {
    color: white; /* Buttons color */
    background-color: #00664D; /* Darker green button*/
}

/* Customize expanders */
div[data-baseweb="expandable-container"] {
    border: 1px solid #004D40; /* Dark green border*/
    border-radius: 4px;
    margin-bottom: 1rem;
    background-color: #00261E;  /* Very dark green */
}
div[data-baseweb="expandable-container"] div div div div h4{
    font-size: 18px;
    color: white;  /*white text color */
}

/* Customize data frame */
div[data-baseweb="data-grid"] {
    border: 1px solid #004D40; /* Dark green border*/
    border-radius: 4px;
    background-color: #00261E;  /* Very dark green */
}

/* Change text color*/
p, li, td{
  color: white !important; /* white text */
}
/* Customize metric */
div[data-baseweb="metric"] div div div div h2{
    color: white !important;  /* white text */
    font-size: 20px;
    }
div[data-baseweb="metric"] div div div div p{
    font-size: 12px;
    color: #ddd;
}
/* Customize error message */
div[data-baseweb="alert"]{
background-color: #420b0b; /* Dark red background */
border-color: #712323; /* Darker red border */
}
div[data-baseweb="alert"] p{
color: #fde5e5 !important; /* light red text */
}